################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section1/SingleResponsibilityPrinciple/.vs/SingleResponsibilityPrinciple/v15
