################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section1/SingleResponsibilityPrinciple/.vs/SingleResponsibilityPrinciple/v15
/Section1/OpenClosedPrinciple/.vs
/Section1/LiskovSubstitutionPrinciple/.vs/LiskovSubstitutionPrinciple/v15
/Section1/IntegrationSegregationPrinciple/.vs/IntegrationSegregationPrinciple/v15
/Section1/DependencyInversionPrinciple/.vs/DependencyInversionPrinciple/v15
/Section2/FluentBuilderInheritence/.vs/FluentBuilderInheritence/v15
/Section2/FluentBuilderInheritence/FluentBuilderInheritence/obj/Debug
/Section2/FluentBuilderInheritence/FluentBuilderInheritence/bin/Debug
/Section2/StepwiseBuilder/.vs
/Section2/StepwiseBuilder/StepwiseBuilder/.vs/StepwiseBuilder/v15
/Section2/StepwiseBuilder/StepwiseBuilder/StepwiseBuilder/obj/Debug
/Section2/StepwiseBuilder/StepwiseBuilder/StepwiseBuilder/bin/Debug
/Section2/FunctionalBuilder/.vs
/Section2/FunctionalBuilder/FunctionalBuilder/.vs/FunctionalBuilder/v15
/Section2/FunctionalBuilder/FunctionalBuilder/FunctionalBuilder/obj/Debug
/Section2/FunctionalBuilder/FunctionalBuilder/FunctionalBuilder/bin/Debug
/Section2/FunctionalBuilder/FunctionalBuilder/bin/Debug
/Section2/FunctionalBuilder/FunctionalBuilder/obj/Debug
